<h1>Show Note</h1>

<ul>

  <li>
    <strong>Note:</strong>
    <%= @note.note %>
  </li>

  <li>
    <strong>Sort order:</strong>
    <%= @note.sort_order %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.note_path(@conn, :edit, @note) %></span>
<span><%= link "Back", to: Routes.note_path(@conn, :index) %></span>
